html {
    box-sizing: border-box;
}

*,
::before ::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}

.element {
    width: 1000px;
	height: 700px;
	resize: both;
    overflow: auto;
    margin: auto;
}

.container {
    flex-basis: 700px;
    margin: 20px;
    padding: 20px;
}